<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acapella2_auxo_enabled</key>
	<true/>
	<key>acapella2_auxo_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella2_auxo_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_auxo_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_auxo_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_auxo_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_auxo_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_auxo_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_auxo_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_auxo_progressslider</key>
	<true/>
	<key>acapella2_auxo_transport_contextual</key>
	<true/>
	<key>acapella2_auxo_transport_heart</key>
	<true/>
	<key>acapella2_auxo_transport_intervalforward</key>
	<false/>
	<key>acapella2_auxo_transport_intervalrewind</key>
	<false/>
	<key>acapella2_auxo_transport_nexttrack</key>
	<false/>
	<key>acapella2_auxo_transport_playbackrate</key>
	<true/>
	<key>acapella2_auxo_transport_playpause</key>
	<false/>
	<key>acapella2_auxo_transport_previoustrack</key>
	<false/>
	<key>acapella2_auxo_transport_repeat</key>
	<true/>
	<key>acapella2_auxo_transport_share</key>
	<true/>
	<key>acapella2_auxo_transport_shuffle</key>
	<true/>
	<key>acapella2_auxo_transport_sleeptimer</key>
	<true/>
	<key>acapella2_auxo_transport_upnext</key>
	<true/>
	<key>acapella2_auxo_volumeslider</key>
	<true/>
	<key>acapella2_cc_enabled</key>
	<true/>
	<key>acapella2_cc_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella2_cc_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_cc_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_cc_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_cc_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_cc_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_cc_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_cc_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_cc_progressslider</key>
	<true/>
	<key>acapella2_cc_transport_contextual</key>
	<true/>
	<key>acapella2_cc_transport_heart</key>
	<true/>
	<key>acapella2_cc_transport_intervalforward</key>
	<false/>
	<key>acapella2_cc_transport_intervalrewind</key>
	<false/>
	<key>acapella2_cc_transport_nexttrack</key>
	<false/>
	<key>acapella2_cc_transport_playbackrate</key>
	<true/>
	<key>acapella2_cc_transport_playpause</key>
	<false/>
	<key>acapella2_cc_transport_previoustrack</key>
	<false/>
	<key>acapella2_cc_transport_repeat</key>
	<true/>
	<key>acapella2_cc_transport_share</key>
	<true/>
	<key>acapella2_cc_transport_shuffle</key>
	<true/>
	<key>acapella2_cc_transport_sleeptimer</key>
	<true/>
	<key>acapella2_cc_transport_upnext</key>
	<true/>
	<key>acapella2_cc_volumeslider</key>
	<true/>
	<key>acapella2_cleo_enabled</key>
	<true/>
	<key>acapella2_cleo_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella2_cleo_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_cleo_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_cleo_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_cleo_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_cleo_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_cleo_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_cleo_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_cleo_progressslider</key>
	<false/>
	<key>acapella2_cleo_transport_contextual</key>
	<false/>
	<key>acapella2_cleo_transport_heart</key>
	<false/>
	<key>acapella2_cleo_transport_intervalforward</key>
	<false/>
	<key>acapella2_cleo_transport_intervalrewind</key>
	<false/>
	<key>acapella2_cleo_transport_nexttrack</key>
	<false/>
	<key>acapella2_cleo_transport_playbackrate</key>
	<false/>
	<key>acapella2_cleo_transport_playpause</key>
	<false/>
	<key>acapella2_cleo_transport_previoustrack</key>
	<false/>
	<key>acapella2_cleo_transport_repeat</key>
	<false/>
	<key>acapella2_cleo_transport_share</key>
	<false/>
	<key>acapella2_cleo_transport_shuffle</key>
	<false/>
	<key>acapella2_cleo_transport_sleeptimer</key>
	<false/>
	<key>acapella2_cleo_transport_upnext</key>
	<false/>
	<key>acapella2_cleo_volumeslider</key>
	<false/>
	<key>acapella2_ls_enabled</key>
	<true/>
	<key>acapella2_ls_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella2_ls_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_ls_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_ls_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_ls_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_ls_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_ls_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_ls_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_ls_progressslider</key>
	<true/>
	<key>acapella2_ls_transport_contextual</key>
	<true/>
	<key>acapella2_ls_transport_heart</key>
	<true/>
	<key>acapella2_ls_transport_intervalforward</key>
	<false/>
	<key>acapella2_ls_transport_intervalrewind</key>
	<false/>
	<key>acapella2_ls_transport_nexttrack</key>
	<false/>
	<key>acapella2_ls_transport_playbackrate</key>
	<true/>
	<key>acapella2_ls_transport_playpause</key>
	<false/>
	<key>acapella2_ls_transport_previoustrack</key>
	<false/>
	<key>acapella2_ls_transport_repeat</key>
	<true/>
	<key>acapella2_ls_transport_share</key>
	<true/>
	<key>acapella2_ls_transport_shuffle</key>
	<true/>
	<key>acapella2_ls_transport_sleeptimer</key>
	<true/>
	<key>acapella2_ls_transport_upnext</key>
	<true/>
	<key>acapella2_ls_volumeslider</key>
	<true/>
	<key>acapella2_musicmini_enabled</key>
	<true/>
	<key>acapella2_musicmini_gestures_presscentre</key>
	<string>action_contextual</string>
	<key>acapella2_musicmini_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_musicmini_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_musicmini_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_musicmini_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_musicmini_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_musicmini_gestures_tapleft</key>
	<string>action_playpause</string>
	<key>acapella2_musicmini_gestures_tapright</key>
	<string>action_playpause</string>
	<key>acapella2_musicmini_progressslider</key>
	<true/>
	<key>acapella2_musicmini_transport_contextual</key>
	<false/>
	<key>acapella2_musicmini_transport_heart</key>
	<false/>
	<key>acapella2_musicmini_transport_intervalforward</key>
	<false/>
	<key>acapella2_musicmini_transport_intervalrewind</key>
	<false/>
	<key>acapella2_musicmini_transport_nexttrack</key>
	<false/>
	<key>acapella2_musicmini_transport_playbackrate</key>
	<false/>
	<key>acapella2_musicmini_transport_playpause</key>
	<false/>
	<key>acapella2_musicmini_transport_previoustrack</key>
	<false/>
	<key>acapella2_musicmini_transport_repeat</key>
	<false/>
	<key>acapella2_musicmini_transport_share</key>
	<false/>
	<key>acapella2_musicmini_transport_shuffle</key>
	<false/>
	<key>acapella2_musicmini_transport_sleeptimer</key>
	<false/>
	<key>acapella2_musicmini_transport_upnext</key>
	<false/>
	<key>acapella2_musicmini_volumeslider</key>
	<true/>
	<key>acapella2_musicnowplaying_enabled</key>
	<true/>
	<key>acapella2_musicnowplaying_gestures_presscentre</key>
	<string>action_showratings</string>
	<key>acapella2_musicnowplaying_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_musicnowplaying_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_musicnowplaying_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_musicnowplaying_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_musicnowplaying_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_musicnowplaying_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_musicnowplaying_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_musicnowplaying_progressslider</key>
	<true/>
	<key>acapella2_musicnowplaying_transport_contextual</key>
	<true/>
	<key>acapella2_musicnowplaying_transport_heart</key>
	<true/>
	<key>acapella2_musicnowplaying_transport_intervalforward</key>
	<false/>
	<key>acapella2_musicnowplaying_transport_intervalrewind</key>
	<false/>
	<key>acapella2_musicnowplaying_transport_nexttrack</key>
	<false/>
	<key>acapella2_musicnowplaying_transport_playbackrate</key>
	<true/>
	<key>acapella2_musicnowplaying_transport_playpause</key>
	<false/>
	<key>acapella2_musicnowplaying_transport_previoustrack</key>
	<false/>
	<key>acapella2_musicnowplaying_transport_repeat</key>
	<true/>
	<key>acapella2_musicnowplaying_transport_share</key>
	<true/>
	<key>acapella2_musicnowplaying_transport_shuffle</key>
	<true/>
	<key>acapella2_musicnowplaying_transport_sleeptimer</key>
	<true/>
	<key>acapella2_musicnowplaying_transport_upnext</key>
	<true/>
	<key>acapella2_musicnowplaying_volumeslider</key>
	<true/>
	<key>acapella2_otm_enabled</key>
	<true/>
	<key>acapella2_otm_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella2_otm_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_otm_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_otm_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_otm_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_otm_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_otm_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_otm_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_otm_progressslider</key>
	<true/>
	<key>acapella2_otm_transport_contextual</key>
	<true/>
	<key>acapella2_otm_transport_heart</key>
	<true/>
	<key>acapella2_otm_transport_intervalforward</key>
	<false/>
	<key>acapella2_otm_transport_intervalrewind</key>
	<false/>
	<key>acapella2_otm_transport_nexttrack</key>
	<false/>
	<key>acapella2_otm_transport_playbackrate</key>
	<true/>
	<key>acapella2_otm_transport_playpause</key>
	<false/>
	<key>acapella2_otm_transport_previoustrack</key>
	<false/>
	<key>acapella2_otm_transport_repeat</key>
	<true/>
	<key>acapella2_otm_transport_share</key>
	<true/>
	<key>acapella2_otm_transport_shuffle</key>
	<true/>
	<key>acapella2_otm_transport_sleeptimer</key>
	<true/>
	<key>acapella2_otm_transport_upnext</key>
	<true/>
	<key>acapella2_otm_volumeslider</key>
	<true/>
	<key>acapella2_seng_enabled</key>
	<true/>
	<key>acapella2_seng_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella2_seng_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_seng_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_seng_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_seng_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_seng_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_seng_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_seng_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_seng_progressslider</key>
	<true/>
	<key>acapella2_seng_transport_contextual</key>
	<true/>
	<key>acapella2_seng_transport_heart</key>
	<true/>
	<key>acapella2_seng_transport_intervalforward</key>
	<false/>
	<key>acapella2_seng_transport_intervalrewind</key>
	<false/>
	<key>acapella2_seng_transport_nexttrack</key>
	<false/>
	<key>acapella2_seng_transport_playbackrate</key>
	<true/>
	<key>acapella2_seng_transport_playpause</key>
	<false/>
	<key>acapella2_seng_transport_previoustrack</key>
	<false/>
	<key>acapella2_seng_transport_repeat</key>
	<true/>
	<key>acapella2_seng_transport_share</key>
	<true/>
	<key>acapella2_seng_transport_shuffle</key>
	<true/>
	<key>acapella2_seng_transport_sleeptimer</key>
	<true/>
	<key>acapella2_seng_transport_upnext</key>
	<true/>
	<key>acapella2_seng_volumeslider</key>
	<true/>
	<key>acapella2_vertex_enabled</key>
	<true/>
	<key>acapella2_vertex_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella2_vertex_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_vertex_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_vertex_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_vertex_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_vertex_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_vertex_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_vertex_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_vertex_progressslider</key>
	<true/>
	<key>acapella2_vertex_transport_contextual</key>
	<true/>
	<key>acapella2_vertex_transport_heart</key>
	<true/>
	<key>acapella2_vertex_transport_intervalforward</key>
	<false/>
	<key>acapella2_vertex_transport_intervalrewind</key>
	<false/>
	<key>acapella2_vertex_transport_nexttrack</key>
	<false/>
	<key>acapella2_vertex_transport_playbackrate</key>
	<true/>
	<key>acapella2_vertex_transport_playpause</key>
	<false/>
	<key>acapella2_vertex_transport_previoustrack</key>
	<false/>
	<key>acapella2_vertex_transport_repeat</key>
	<true/>
	<key>acapella2_vertex_transport_share</key>
	<true/>
	<key>acapella2_vertex_transport_shuffle</key>
	<true/>
	<key>acapella2_vertex_transport_sleeptimer</key>
	<true/>
	<key>acapella2_vertex_transport_upnext</key>
	<true/>
	<key>acapella2_vertex_volumeslider</key>
	<true/>
	<key>acapella2_widux_enabled</key>
	<true/>
	<key>acapella2_widux_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella2_widux_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella2_widux_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella2_widux_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella2_widux_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella2_widux_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella2_widux_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella2_widux_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella2_widux_progressslider</key>
	<true/>
	<key>acapella2_widux_transport_contextual</key>
	<true/>
	<key>acapella2_widux_transport_heart</key>
	<true/>
	<key>acapella2_widux_transport_intervalforward</key>
	<false/>
	<key>acapella2_widux_transport_intervalrewind</key>
	<false/>
	<key>acapella2_widux_transport_nexttrack</key>
	<false/>
	<key>acapella2_widux_transport_playbackrate</key>
	<true/>
	<key>acapella2_widux_transport_playpause</key>
	<false/>
	<key>acapella2_widux_transport_previoustrack</key>
	<false/>
	<key>acapella2_widux_transport_repeat</key>
	<true/>
	<key>acapella2_widux_transport_share</key>
	<true/>
	<key>acapella2_widux_transport_shuffle</key>
	<true/>
	<key>acapella2_widux_transport_sleeptimer</key>
	<true/>
	<key>acapella2_widux_transport_upnext</key>
	<true/>
	<key>acapella2_widux_volumeslider</key>
	<true/>
</dict>
</plist>
