<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Acapella II</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_cc</string>
			<key>label</key>
			<string>Control Center</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_ls</string>
			<key>label</key>
			<string>Lock Screen</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_musicnowplaying</string>
			<key>label</key>
			<string>Music (Now Playing)</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_musicmini</string>
			<key>label</key>
			<string>Music (Mini Player)</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Third Party</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_otm</string>
			<key>label</key>
			<string>OnTapMusic</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_auxo</string>
			<key>label</key>
			<string>Auxo</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_vertex</string>
			<key>label</key>
			<string>Vertex</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_seng</string>
			<key>label</key>
			<string>Seng</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_widux</string>
			<key>label</key>
			<string>Widux</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>SWAPSListController_Instance</string>
			<key>isController</key>
			<string>1</string>
			<key>key</key>
			<string>acapella2_cleo</string>
			<key>label</key>
			<string>Cleo</string>
			<key>defaults</key>
			<string>com.patsluth.acapella2</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Reset All Settings</string>
			<key>confirmation</key>
			<dict>
				<key>title</key>
				<string>Reset All Settings</string>
				<key>prompt</key>
				<string>Are you sure you want to reset all settings?</string>
				<key>okTitle</key>
				<string>Yes</string>
				<key>cancelTitle</key>
				<string>No</string>
			</dict>
			<key>action</key>
			<string>resetAllSettings:</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Created By</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SWPSTwitterCell</string>
			<key>username</key>
			<string>patsluth</string>
			<key>secondaryText</key>
			<string>Developer</string>
			<key>imagePath</key>
			<string>/Library/PreferenceBundles/AcapellaPrefs2.bundle/Developer_Twitter_Profile.jpeg</string>
			<key>action</key>
			<string>viewTwitterProfile:</string>
			<key>height</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>SWPSTwitterCell</string>
			<key>username</key>
			<string>stijn_d3sign</string>
			<key>secondaryText</key>
			<string>Designer</string>
			<key>imagePath</key>
			<string>/Library/PreferenceBundles/AcapellaPrefs2.bundle/Designer_Twitter_Profile.png</string>
			<key>action</key>
			<string>viewTwitterProfile:</string>
			<key>height</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string></string>
			<key>footerText</key>
			<string>© 2014 Pat Sluth - Sluthware</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>get</key>
			<string>getVersionNumberForSpecifier:</string>
			<key>label</key>
			<string>Version</string>
		</dict>
	</array>
</dict>
</plist>
