<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>acapella3_cc_enabled</key>
	<true/>
	<key>acapella3_cc_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella3_cc_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella3_cc_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella3_cc_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella3_cc_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella3_cc_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella3_cc_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella3_cc_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella3_ls_enabled</key>
	<true/>
	<key>acapella3_ls_gestures_presscentre</key>
	<string>action_openapp</string>
	<key>acapella3_ls_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella3_ls_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella3_ls_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella3_ls_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella3_ls_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella3_ls_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella3_ls_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella3_musicmini_enabled</key>
	<true/>
	<key>acapella3_musicmini_gestures_presscentre</key>
	<string>action_contextual</string>
	<key>acapella3_musicmini_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella3_musicmini_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella3_musicmini_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella3_musicmini_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella3_musicmini_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella3_musicmini_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella3_musicmini_gestures_tapright</key>
	<string>action_increasevolume</string>
	<key>acapella3_musicnowplaying_enabled</key>
	<true/>
	<key>acapella3_musicnowplaying_gestures_presscentre</key>
	<string>action_showratings</string>
	<key>acapella3_musicnowplaying_gestures_pressleft</key>
	<string>action_intervalrewind</string>
	<key>acapella3_musicnowplaying_gestures_pressright</key>
	<string>action_intervalforward</string>
	<key>acapella3_musicnowplaying_gestures_swipeleft</key>
	<string>action_nexttrack</string>
	<key>acapella3_musicnowplaying_gestures_swiperight</key>
	<string>action_previoustrack</string>
	<key>acapella3_musicnowplaying_gestures_tapcentre</key>
	<string>action_playpause</string>
	<key>acapella3_musicnowplaying_gestures_tapleft</key>
	<string>action_decreasevolume</string>
	<key>acapella3_musicnowplaying_gestures_tapright</key>
	<string>action_increasevolume</string>
</dict>
</plist>
