<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Transport Controls</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>heart</string>
			<key>icon</key>
			<string>Heart.png</string>
			<key>label</key>
			<string>Heart</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>upnext</string>
			<key>icon</key>
			<string>UpNext.png</string>
			<key>label</key>
			<string>Up Next</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>previoustrack</string>
			<key>icon</key>
			<string>PreviousTrack.png</string>
			<key>label</key>
			<string>Previous Track</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>nexttrack</string>
			<key>icon</key>
			<string>NextTrack.png</string>
			<key>label</key>
			<string>Next Track</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>intervalrewind</string>
			<key>icon</key>
			<string>IntervalRewind.png</string>
			<key>label</key>
			<string>Interval Rewind</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>intervalforward</string>
			<key>icon</key>
			<string>IntervalForward.png</string>
			<key>label</key>
			<string>Interval Forward</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>playpause</string>
			<key>icon</key>
			<string>Play.png</string>
			<key>label</key>
			<string>Play/Pause</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>share</string>
			<key>icon</key>
			<string>Share.png</string>
			<key>label</key>
			<string>Share</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>shuffle</string>
			<key>icon</key>
			<string>Shuffle.png</string>
			<key>label</key>
			<string>Shuffle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>repeat</string>
			<key>icon</key>
			<string>Repeat.png</string>
			<key>label</key>
			<string>Repeat</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>contextual</string>
			<key>icon</key>
			<string>Contextual.png</string>
			<key>label</key>
			<string>Contextual</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Podcast</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>playbackrate</string>
			<key>icon</key>
			<string>None.png</string>
			<key>label</key>
			<string>Playback Rate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>key</key>
			<string>sleeptimer</string>
			<key>icon</key>
			<string>None.png</string>
			<key>label</key>
			<string>Sleep Timer</string>
		</dict>
	</array>
</dict>
</plist>
